<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

This notebook is a part of Tools for data science final assignment.

## Objectives:

* List popular languages for Data Science
* learned about Git
* leanrnd about R and plotting
* learned about data science codeing enviroments

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Scala
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. SCipy
4. ggplot
5. mathplotlib

|Data Science Tools|
|----------|
|Jupyternotebook|
|VSCode|
|Google Colab|
|Anaconda|
|Jupyterlite|

### Below are a few examples of evaluating arithmetic expressions in Python

```python
a = 20
b = 10
a+b #30
a-b #10
a*b #200
a/b #2
```

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
mins = 200
hours = 200/60
print(hours)

3.3333333333333335

## Author 
Vignesh Ramanathan